 @media (min-width: 768px) {
     .small-event::after {
         content: "→";
         font-size: large;
         z-index: 100;
         transform: translate(20cqw, -50cqh);
     }
 }

 @media (max-width: 768px) {
    .small-event::after {
    }
}

 @scope (.card-body) {
     ::before {
         display: inline-block;
         height: 16px;
         width: 16px;
         background-size: 16px 16px;
         background-repeat: no-repeat;

     }
 }

 @scope (.speaker) {
     a {
         color: var(--speaker-color);
     }
 }

 .start::before {
     content: url("../images/icons/events/start.svg");
 }

 .duration::before {
     content: url("../images/icons/events/duration.svg");
 }

 .age::before {
     content: url("../images/icons/events/age.svg");
 }

 .speaker::before {
     content: url("../images/icons/events/speaker.svg");
 }