@import
	url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')
	;

body {
	font-family: 'Montserrat';
}

a {
	text-decoration: underline dotted;
}

a:hover {
	text-decoration: underline;
}

.main-description {
	
}

.gate {
	height: 99vh;
	margin-top: 1.5rem;
	align-items: center;
}

.header {
	animation-name: greeting-level-up, greeting-color-burst;
	animation-duration: 3s;
	animation-fill-mode: forwards;
}

@keyframes greeting-level-up {
  0% {
	letter-spacing: normal;
  }

  50% {
  	letter-spacing: .3rem;
  }
  
  100% {
  	letter-spacing: .5rem;
  }
}

/*@keyframes greeting-color-burst {
  0% {

  }
  100% {
  background: linear-gradient(to bottom left, cyan 50%, palegoldenrod 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
}*/

.cause-to-participate {
	text-size-adjust: 80%;
	
}

.events-map {
	
}

.contacts {
	
}

.footer {
	background: #020122;
	color: #EEE5E9;
}

.big-text {
	text-align: justify;
	text-indent: 3rem;
}

.footer-button {
	background: #020122;
	color: #EEE5E9;
}

a.with-dark-phone {
	color: #EEE5E9;
}

a.with-dark-phone:hover {
	text-decoration-color: #F4442E;
}

.copyrights {
	border-color: #F7F3F5;
	border-top-width: 1px;
	border-style: solid none none none;
}