footer {
	background: var(--invert-backgound-color);
	color: var(--invert-text-color);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--small-margin);
	padding: var(--small-margin) 2vw var(--small-margin) 2vw;
}

@scope (footer) {
	a {
		color: var(--invert-text-color);
	}

	a:hover {
		text-decoration-color: var(--anchor-decoration);
	}

	address {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: normal;
		gap: var(--small-margin) var(--small-margin);

	}

	address::before,
	address::after {
		flex: 1 1 auto;
		content: "";
		width: 1rem;
		height: auto;
		font-style: normal;
		border-style: solid;
		color: white;
		border-top: 0.5px;
		border-bottom: 0.5px;
	}

	address::before {
		border-style: solid;
		border-right: 0.25px;
	}

	address::after {
		border-style: solid;
		border-left: 0.25px;
	}

	address~div {
		font-size: 75%;
	}
}

.shortcut-contacts {
	display: flex;
	flex-direction: column;
	justify-content: start;
	padding: var(--small-margin) 0 var(--small-margin) 0;
	font-style: normal;
}

.copyrights {
	padding: var(--small-margin) 0 0 0;
	display: flex;
	flex-direction: column;
}