:root {
	--margin: 2rem;
	--small-margin: 1rem;
}

html {
	font-size: 62.5%;
}

@media (max-width: 700px) {
	html {
		font-size: 50%;
	}
}

body {
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 2rem;

	margin: 0;

	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1;
	padding-left: 2vw;
	padding-right: 2vw;

	display: flex;
	flex-direction: column;
	min-height: 100vh;
	align-items: center;
}

section {
	margin-bottom: var(--margin);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1, h2, h3, h4, h5 {
	align-self: start;
}