@media (pointer: fine) {
	body::-webkit-scrollbar {
		width: 8px;
	}

	body::-webkit-scrollbar-track {
		background: var(--scroll-background);
	}

	body::-webkit-scrollbar-thumb {
		background-color: var(--scroll-thumb);
		border-radius: 5px;
		border: 2px solid var(--scroll-thumb-border);
	}
}