div.events {
	width: 100%;
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: left;
	align-content: center;
	gap: var(--small-margin) var(--small-margin);
}

article.event[hidden] {
	display: none;
}

button#events-quantity {
	margin-top: var(--small-margin);
	
	font: inherit;
	padding: var(--padding);
}