article.event {
	flex: 0 1 auto;

	max-width: 36%;
	margin-right: auto;

	display: flex;
	direction: row;

	/*	for highlighting*/
	background: var(--event-background);

	padding-left: 5rem;
	padding-right: 5rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
}

@media (max-width: 820px) {
	article.event {
		max-width: 100%;
	}
}

div.event-content {
	display: flex;
	flex-direction: column;
	align-items: left;
}

.event-content>a:last-child {
	--arrow: #3D5467;
	--arrow-end: #FF9F1C;
	--arrow-text: #FFFAFB;
	--border: calc(var(--small-padding) + 2rem);

	align-self: center;
	z-index: 100;
	position: relative;
	display: inline-flex;
	align-items: center;
	
	color: var(--arrow-text);
	padding: calc(var(--border) / 2);
	transition: all 1s;
	text-decoration: none;
}

.event-content>a:last-child:hover {
	transform: translateX(20px);
	text-decoration: underline;

}

.event-content>a:last-child::before {
	content: attr(title);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;

	border-bottom-left-radius: .5rem;
	border-top-left-radius: .5rem;
	background-color: var(--arrow);
}

.event-content>a:last-child::after {
	content: "";
	position: absolute;
	left: 100%;
	width: 0;
	height: 0;
	border-top: var(--border) solid transparent;
	border-left: calc(var(--border)*1.5) solid var(--arrow-end);
	border-bottom: var(--border) solid transparent;
}

.event p {
	background: var(--event-background);
}

.event p.start,
.event p.duration,
.event p.age,
.event p.speaker {
	margin-left: var(--big-padding);
	background: transparent;
}

@scope (.event-content) {
	::before {
		display: inline-block;
		height: 16px;
		width: 16px;
		background-size: 16px 16px;
		background-repeat: no-repeat;
	}
}

.speaker a {
	color: var(--speaker-color);
}

.start::before {
	content: url("../../images/icons/events/start.svg");
}

.duration::before {
	content: url("../../images/icons/events/duration.svg");
}

.age::before {
	content: url("../../images/icons/events/age.svg");
}

.speaker::before {
	content: url("../../images/icons/events/speaker.svg");
}

.invite:before {
	content: url("../../images/icons/events/invite.svg");
	margin-right: .5rem;
}