<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated events -->
      <package
            uri="http://ru.aparovyshnaia/events/0.1.0"
            class="ru.aparovyshnaia.yarocvet.events.model.meta.EventsPackage"
            genModel="model/events.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated events -->
      <parser
            type="events"
            class="ru.aparovyshnaia.yarocvet.events.model.util.EventsJsonResourceFactoryImpl"/>
   </extension>
</plugin>
