@media (max-width: 700px) {
	.main-description {
		--greeting: greeting-small;
	}

	.gate {
		--header-height: 33vh;
	}
}


@media (min-width: 700px) {
	.main-description {
		--greeting: greeting;
	}

	.gate {
		--header-height: 99vh;
	}
}

@media (prefers-reduced-motion: reduce) {
	.main-descriprion {
		--greeting: none;
	}
}

.gate {
	height: var(--header-height);
	/*	margin-top: 1.5rem;*/
	align-items: center;
	text-align: center
}

@keyframes greeting-small {
	0% {
		letter-spacing: normal;
	}

	5% {
		letter-spacing: .3rem;
	}

	10% {
		letter-spacing: .6rem;
	}

	100% {
		letter-spacing: 1.75rem;
	}
}

.header {
	background: linear-gradient(to right,
			#db5461 13%,
			#8a977d 66%,
			#dbb077 99%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
	background-size: 500% auto;
	font-size: calc(100vw);

	animation-name: var(--greeting), color-burst;
	animation-duration: 30s, 10s;
	animation-iteration-count: 1, infinite;
	animation-direction: normal, alternate;
	animation-timing-function: linear, ease-in-out;
	animation-fill-mode: forwards;

}

@keyframes greeting {
	0% {
		letter-spacing: normal;
	}

	5% {
		letter-spacing: .3rem;
	}

	10% {
		letter-spacing: 1rem;
	}

	100% {
		letter-spacing: 5rem;
	}
}

@keyframes color-burst {
	from {
		background-position: 0% 50%;
	}

	to {
		background-position: 200% 50%;
	}
}